BasedOnStyle: LLVM
BreakBeforeBraces: Linux
IndentCaseLabels: false

AlignConsecutiveMacros: true
AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty

ContinuationIndentWidth: 8
IndentWidth: 8
TabWidth: 8
UseTab: Always

ForEachMacros:
  - 'LIST_FOREACH'
  - 'CIRCLEQ_FOREACH'
  - 'cJSON_ArrayForEach'
  - 'HASH_ITER'
